 <!DOCTYPE html>
 <html lang="en" dir="ltr">

 <head>
    <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/style.css" type="text/css">
    <link rel="stylesheet" href="../Static/reset.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700, 400|Montserrat:400, 700|Nunito+Sans:800, 400&display=swap" rel="stylesheet">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>DIY Hub</title>
	 <link href="../Static/diyhub__2__UHr_icon.ico" rel="icon" type="image/x-icon" />
 </head>
<body>
<div class="header">
<img src="../Static/DiyHub (2).png" alt="Logo">
  <h1>diy<strong>hub.io</strong></h1>
	
		<nav class="navigation">
  <ul>
    <li><a href="#"><span class="inactive">Featured</span></a></li>
    <li><a href="#" id="active"><span>Discovery</span></a></li>
    <li><a href="createProject.html"><span class="inactive">Create</span></a></li>
  </ul>
	</nav>
	<div class="account">
		<button id="log-in"><a href="login.html">Log In</a></button>
		<button id="sign-up"><a href="login.html">Sign Up</a></button>
	</div>
</div>
    <div class="selector">
	  <h2>Select Parts:</h2>
		 
        <form action="/components.html">
			<input type="text" id="searchbar" placeholder="Search for parts..">
			<div class="items-container">
				<section class="categories">
  						<input id="toggle" type="checkbox">
					<label for="toggle" class="category-label">Category <i class="fa fa-caret-down"></i></label>
					<div id="expand">
			  <ul>
        <li>
            <label for="one" class="container">One
                <input id="one" type="checkbox" name="">
  <span class="checkmark"></span>
            </label>
        </li>
        <li>
            <label for="two" class="container">Two 
                <input id="two" type="checkbox" name="">
  <span class="checkmark"></span>
            </label>
        </li>
				 
				  <li>
            <label for="three" class="container">Three
                <input id="three" type="checkbox" name="">
  <span class="checkmark"></span>
            </label>
        </li>
				   
				  <li>
            <label for="four" class="container">Four
                <input id="four" type="checkbox" name="">
  <span class="checkmark"></span>
            </label>
        </li>
				   
    </ul>
					</div>
				</section>
			</div>
      </form>
</div>
	
	
	
	
	<div class="grid">
  
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay" style="background-color: #FE2F2F">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
	  </div>
		</div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/stepImage.png" alt="ProjectImage">
	  <div class="overlay" style="background-color: #FE7F2F">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay" style="background-color: #969600">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay" style="background-color: #0AC000">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay" style="background-color: #006E14">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
  <div class="module">
	  <div class="container-grid">
	  <img src="../Static/ProjectImage.png" alt="ProjectImage">
	  <div class="overlay"  style="">
		  <h1>Header</h1>
		  <p>This is a project description. This paragraph tag will display what the project is about.</p>
		  </div>
		</div>
		  </div>
		
</div>
	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script>
	(function($){
  $("#searchbar").on('keyup', function(e) {
    var $this = $(this);
    var exp = new RegExp($this.val(), 'i');
    $(".items-container li label").each(function() {
      var $self = $(this);
      if(!exp.test($self.text())) {
        $self.parent().hide();
      } else {
        $self.parent().show();
      }
    });
  });
})(jQuery);
	</script>
</body></html>
